<h3 style="text-align:center">EMPLOYEES</h3>

<br />
<TelerikGrid Class="grid"
             Data=@VEmployees
             ConfirmDelete="true"
             Pageable="true"
             Groupable="true"
             Sortable="true"
             FilterMode="GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             EditMode="GridEditMode.Popup"
             PageSize="10"
             Navigable="true">
    <GridColumns>
        <GridColumn Field="@nameof(VEmployee.FirstName)" Title="First Name" Width="195px" />
        <GridColumn Field="@nameof(VEmployee.LastName)" Title="Last Name" Width="195px" />
        <GridColumn Field="@nameof(VEmployee.JobTitle)" Title="Job Title" Width="195px" />
        <GridColumn Field="@nameof(VEmployee.PhoneNumber)" Title="Phone Number" Width="195px" />
        <GridColumn Field="@nameof(VEmployee.PhoneNumberType)" Title="Type" Width="100px" />
        <GridColumn Field="@nameof(VEmployee.EmailAddress)" Title="Email Address" Width="195px" />
        <GridCommandColumn Width="100px">
            <GridCommandButton OnClick="(() => OnClickRead())" Id="BusinessEntityId" Icon="eye" ThemeColor="@ThemeConstants.Button.ThemeColor.Warning"></GridCommandButton>
            <GridCommandButton Command="Edit" Icon="pencil" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"></GridCommandButton>
            <GridCommandButton Command="Delete" Icon="trash" ThemeColor="@ThemeConstants.Button.ThemeColor.Error"></GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

@code {
    public List<VEmployee>? VEmployees { get; set; }

    [Parameter]
    public int BusinessEntityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        VEmployees = await service.GetEmployees_View();
    }

    public void OnClickRead()
    {
        navigationManager.NavigateTo("/ReadOnly/EmployeeDetails/" + BusinessEntityId);
    }
}
